body {
  overflow-x: hidden;
}

#home-logo {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem;
  /* gutter size */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 1rem;
  /* gutter size */
  background-clip: padding-box;
}

.my-masonry-grid_column>div {
  margin-bottom: 1rem;
}

.about-us-wrapper {
  position: relative;
  color: white;
  background-color: rgba(0,0,0,0.60); 
  /* filter: drop-shadow(0 0 6px black); */
}

.about-us-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./austin-cityline.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.80;
  z-index: -1;
}