body {
  overflow-x: hidden;
}

#home-logo {
  max-width: 100%;
  width: 300px;
  height: auto;
}

.my-masonry-grid {
  display: flex;
  margin-left: -1rem; /* gutter size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 1rem; /* gutter size */
  background-clip: padding-box;
}
.my-masonry-grid_column > div {
  margin-bottom: 1rem;
}

